<!DOCTYPE html>
<html lang="en">
<head>
    <title>leasing</title>
</head>
<body>
    <form id="choose_action" method="post" action="/leasing/present-query/" enctype= "multipart/form-data">{% csrf_token %}
        action:<input list="action_list" name="browser">
        <datalist id="action_list">
            <option value="cars in active comp" id="cars-in-active-comp">
            <option value="price list by car" id="price-list-by-car">
            <option value="price list by company" id="price-list-by-company">
            <option value="min prices for comp" id="min-prices-for-comp">
            <option value="active contains yud" id="active-contains-yud">
        </datalist>
        <textarea id="car" name ='car'>enter car </textarea>
        <textarea id="company" name ='company'>enter company</textarea>
        <input type="submit">
    </form>

    {% block content %}
        {{data | safe}}
    {% endblock %}






</body>
</html>